.phpunit.result.cache
composer.lock

*~
*.o
*.out
*.lo
*.la
*.log
*.loT
*.gch
*.h.ghc
*.phc
*.dSYM
*.deps

vendor/
.zephir/
.idea/
.vscode/

src/ide/
src/compile.log
src/compile-errors.log

src/ext/ltmain.sh
src/ext/Makefile
src/ext/Makefile.fragments
src/ext/Makefile.global
src/ext/Makefile.objects
src/ext/acinclude.m4
src/ext/aclocal.m4
src/ext/build/
src/ext/config.guess
src/ext/config.h
src/ext/config.h.in
src/ext/config.nice
src/ext/config.status
src/ext/config.sub
src/ext/configure
src/ext/configure.ac
src/ext/configure.in
src/ext/install-sh
src/ext/libtool
src/ext/missing
src/ext/mkinstalldirs
src/ext/modules/
src/ext/run-tests.php
src/ext/.libs/
src/ext/autom4te.cache/
src/ext/kernel/